
#frame {
  position: relative;
  top:60px;
  left:0px;
  width            : 1400px;
	margin-left      : auto;
	margin-right     : auto;
	text-align       : left;
	background-color : #ffffff;
  border-style: solid; border-color: #e6e6fa;
	height           : 800px;
  box-shadow: -10px 10px 20px 2px #696969;
}
body {
	text-align       : center;
	background-color : white;
	margin           : 0px;
	padding          : 0px;

}

header, nav, article, aside, section, footer {
    display:block;
}
#lang{
  float:right;
  position:relative;
  top:50px;
  right:200px;
  font-size:25px;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

a:link {
  color:#2f4f4f;
  }
a:visited {
  color:#2f4f4f;
  }

h1, h2, article{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  position:relative;
}
div.aboutsite{
  font-size:15px;
  position:relative;
  top:120px;
  left:130px;
}

#news{
  position:relative;
  top:140px;
  left:130px;
}

div.mystate{
  position:relative;
  top:200px;
  left:130px;
}

#menu ul{
list-style: none;
padding:0;
margin:0;
position:relative;
}

#menu01 a, #menu02 a, #menu03 a, #menu04 a, #menu05 a, #menu06 a{
display: block;
width: auto;
border-bottom: 1px dotted #555;
text-decoration: none;
color: #555;
padding: 0px 0px 0px 20px;
margin: 0px 2px;
text-align: left;
font-size: 25px;
}

li#menu01{
  width:130px;
  position:relative;
  top:150px;
  right:145px;
  margin-left: auto;
}

li#menu02{
  width:130px;
  position:relative;
  top:195px;
  right:125px;
  margin-left: auto;
}
li#menu03{
  width:130px;
  position:relative;
  top:240px;
  right:105px;
  margin-left: auto;
}
li#menu04{
  width:130px;
  position:relative;
  top:285px;
  right:93px;
  margin-left: auto;
}
li#menu05{
  width:130px;
  position:relative;
  top:330px;
  right:95px;
  margin-left: auto;
}
li#menu06{
  width:140px;
  position:relative;
  top:375px;
  right:95px;
  margin-left: auto;
}
#menu li a:hover{
background:url("../images/othersource/menuitem.png") no-repeat left center;
}


#titlelogo{
  position:absolute;
  top:10px;
  right:20px;
  margin:5px;
}
div#menubox{
  height:800px;
  width:375px;
  background-image:url("../images/othersource/menu.png");
  position:relative;
  top:0;
  float:right;
}
#main{
  float:left;
  width:1025px;
  height:800px;
  margin:0;
  /*background-image:url("../images/othersource/background-main2.png");*/
}
